@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  background: #f8fafc;
  color: #0f172a;
}

.container {
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo-icon {
  width: 56px;
  height: 56px;
  background: #1677ff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 0 auto 10px;
}

.logo h1 {
  font-size: 22px;
  font-weight: 700;
}

.card {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.card h2 {
  text-align: center;
  margin-bottom: 8px;
      font-size: 25px;
    font-weight: 500;
}

.subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 24px;
  font-size: 13px;
}

.btn {
   width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: white;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 18px;
}

.btn:hover {
  background-color: #9aa4c5;
  transition: transform 2s, background-color 0.2s;
}
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}