@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7fafc;
  color: #0f172a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
}

.user-menu {
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  border: 1px solid #ddd;
  padding: 8px;
}
.dash-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}
.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.task-card {
  background: white;
  border-radius: 14px;
  padding: 28px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-logo {
  text-align: center;
  /* position: relative;
  bottom: 48px; */
}

.logo-icon {
  width: 56px;
  height: 56px;
  background: #1677ff;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 0 auto 10px;
}

.logo h1 {
  font-size: 22px;
  font-weight: 700;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.card h2 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: 500;
}

.login-head {
  margin-bottom: 8px;
}
.subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 38px;
  font-size: 13px;
}

.mark-btn{
  padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background: #1677ff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.topbar {
  background: #f8fafc;
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

.topbar img {
  border-radius: 50%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.card {
  background: white;
  width: 100%;
  max-width: 420px;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
}

.card h1 {
  margin-bottom: 6px;
}

.subtitle {
  color: #64748b;
  margin-bottom: 22px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 18px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #f8fafc;
}

input:focus {
  outline: none;
  border-color: #1677ff;
  background: white;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-group span {
  color: #64748b;
  font-size: 14px;
}

.location-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.location-row a {
  color: #1677ff;
  text-decoration: none;
  font-size: 14px;
}

.map-box {
  margin-top: 10px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background: linear-gradient(135deg, #f8fafc, #ffffff);
  padding: 26px;
  text-align: center;
}

.map-icon {
  font-size: 42px;
  color: #1677ff;
  margin-bottom: 18px;
}

.map-footer {
  background: #f8fafc;
  border-radius: 8px;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.coords {
  color: #64748b;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: 26px;
}

.btn {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.cancel {
  background: #f8fafc;
  border: 1px solid #e5e7eb;
}

.primary {
  background: #1677ff;
  color: white;
}

.navbar {
  background: #fff;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #1677ff;
}

.nav .active {
  color: #0f172a;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-menu a {
  margin: 0 14px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.user img {
  border-radius: 50%;
}

.logout {
  padding: 6px 14px;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.page-header {
  width: 38%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.add-btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #1677ff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.primary-btn {
  background: #1677ff;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.task-top {
  display: flex;
  justify-content: space-between;
}

.badge {
  font-size: 12px;
  color: #9ca3af;
  font-weight: 600;
}

.location {
  color: #6b7280;
  margin-top: 4px;
}

.status {
     background: #e0ecff;
    color: #2563eb;
    padding: 6px 9px;
    border-radius: 20px;
    font-size: 14px;
    height: 34px;
    width: 148px;
    font-weight: 600;
}

.distance-box {
  margin: 24px 0;
  background: #f3f4f6;
  padding: 22px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.distance-box p {
  color: #6b7280;
  margin-bottom: 6px;
}

.distance-box span {
  font-size: 14px;
  color: #6b7280;
}

.blue {
  color: #1677ff;
}

.history-container {
  /* max-width: 1000px; */
  width: 500px;
  margin: 40px auto;
  padding: 0 20px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.historyAdd-btn {
  padding: 10px 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 20px;
  font-weight: 400;
}

.back-btn {
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #1677ff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

.filter {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: transparent;
  color: #64748b;
  font-weight: 600;
  cursor: pointer;
}

.filter.active {
  background: #e0f2fe;
  color: #0369a1;
}

.history-card {
  background: white;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.history-item {
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f5f9;
}

.history-item:last-child {
  border-bottom: none;
}

.history-item h3 {
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 400;
}

.history-item p {
  color: #94a3b8;
  font-size: 13px;
  font-weight: 400;
}

.delete {
  cursor: pointer;
  font-size: 15px;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: white;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: #0f172a;
  text-decoration: none;
}

.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.task-card {
  background: white;
  width: 100%;
  max-width: 420px;
  padding: 32px;
  border-radius: 14px;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
}

.task-subtitle {
  color: #64748b;
  margin-bottom: 22px;
  font-size: 13px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 18px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background: #f8fafc;
}

input:focus {
  outline: none;
  border-color: #1677ff;
  background: white;
}


/* =========================
   TABLET (max-width: 768px)
========================= */
@media (max-width: 768px) {

  .navbar,
  .topbar {
    padding: 12px 16px;
  }

  .user-menu a {
    margin: 0 8px;
    font-size: 14px;
  }

  .page-header {
    width: 100%;
    /* flex-direction: column; */
    gap: 14px;
    align-items: center;
  }

  .page-header h1 {
    font-size: 15px;
  }

  .distance-box {
    /* flex-direction: column; */
    gap: 12px;
    text-align: left;
  }

  .actions {
    flex-direction: column;
  }

  .history-container {
    width: 100%;
  }
}


/* =========================
   MOBILE (max-width: 480px)
========================= */
@media (max-width: 480px) {

  body {
    font-size: 14px;
  }

  .container,
  .dash-container {
    margin: 20px auto;
    padding: 0 14px;
  }

  .login-card,
  .card,
  .task-card {
    padding: 22px;
    border-radius: 12px;
  }

  .logo h1 {
    font-size: 18px;
  }

  .subtitle {
    font-size: 12px;
    margin-bottom: 24px;
  }

  .navbar {
    /* flex-direction: column; */
    gap: 12px;
  }

  .user-menu {
    gap: 8px;
  }

  .user-menu a {
    font-size: 13px;
  }

  .task-top {
    flex-direction: column;
    gap: 10px;
  }



  .status {
    width: auto;
    text-align: center;
    font-size: 13px;
    background: none;
  }

  .map-box {
    padding: 18px;
  }

  .map-icon {
    font-size: 34px;
  }

  .map-footer {
    flex-direction: column;
    gap: 6px;
    font-size: 13px;
  }

  .history-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .delete {
    width: 100%;
    text-align: center;
  }

  .btn,
  .primary-btn {
    width: 100%;
  }

  .add-btn {
            width: 25%;
        font-size: 12px;
    
  }

  input {
    padding: 10px;
  }
}
